# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# IDEs and editors
.idea/
*.iml

# OS generated
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Firebase/Google
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Misc
*.log

# Node
node_modules/
# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
.mypy_cache/
.pytest_cache/
.tox/
.coverage
coverage.xml
*.cover
.hypothesis/
pip-log.txt
pip-delete-this-directory.txt
pyrightconfig.json
google-services.json
service-account.json